<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "15.jpg" %>
  </div>
  <div id="content">
    <h1>Hey, I'm Pedorenko Andrey </h1>
    <p>Welcome to my blog</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quibusdam laborum, quas eligendi possimus veritatis sed perferendis nobis earum fugit minus laboriosam voluptas, doloribus modi voluptates distinctio blanditiis et labore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, minus dolor aliquam saepe, consectetur quibusdam expedita. Odio fugit recusandae reprehenderit consequatur quae, porro fuga, maxime, dolor deleniti illo adipisci velit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio illo fugiat commodi, deleniti! Dolorum esse velit magni placeat voluptas, enim excepturi eligendi quasi quibusdam qui ex saepe officiis soluta, iure. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius amet minus laudantium possimus id doloremque ducimus ex voluptate eaque officia debitis architecto nemo quaerat dolorum, fuga ut esse? Similique, obcaecati.
    </p>
  </div>
</div>